<div class="row">
    <div class="col-lg-12">
      <div class="row" style="background-color: black">
        <div class="col-lg-6">
          <h1 style="color: #fff; margin-top: 7px; margin-left: 15px">
            Solution 2
          </h1>
        </div>
        <div class="col-lg-6" style="border: 2 ps solid white">
          <h1 style="margin-left: 55%">
            <a
              href="questions"
              style="
                color: white;
                margin-top: 8px;
                background-color: rgb(48, 48, 102);
                border-radius: 10px;
                height: 60px;
              "
              type="button"
              >Back To Questions</a
            >
          </h1>
        </div>
      </div>
      <div
        class="row form-wrapper justify-content-center bg-primary"
        style="height: 650px"
      >
        <div class="container">
          <form class="form">
            <div class="form-group" *ngFor="let obj of numberArray">
              <!-- <div > -->
              <input
                type="number"
                class="form-control"
                [(ngModel)]="obj.number"
                [ngModelOptions]="{standalone: true}"
              />
              <!-- </div> -->
            </div>
            <button
              style="float: right"
              (click)="addMoreNumber()"
              class="btn btn-warning ml-auto"
            >
              Add More
            </button>
            <button (click)="onSubmit()" class="btn btn-success">Submit</button>
          </form>
  
          <div *ngFor="let number of numberArray">
   
              Phone Number: {{number.number}}
          </div>
        </div>
      </div>
    </div>
  </div>
  